/* set background color to lkight blue */
body {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    max-width: 960px;
    width: 100%;
}
.box {
    flex: 1 0 calc(100% / 16 - 2px); /* Adjust width based on the number of boxes per row */
    padding-top: calc(100% / 16 - 2px); /* Maintain aspect ratio */
    background-color: #ccc;
    position: relative;
}
.btn {
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: center;
}